.ratesNotice {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 18px;
  border-radius: 18px;
  border: var(--border);
  background-color: var(--color-blue20);
}

.ratesNotice__icon {
  flex: 0 0 auto;
  color: var(--color-blue10);
}

.ratesNotice__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-gray-10);
  max-width: 980px;
}

